form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.reservation-restaurant-name {
  margin-bottom: 10px;
  font-size: 2rem;
}

input {
  border: 1px solid lightgray;
  padding: 5px;
  width: max-content;
}

.submit-btn {
  border-radius: 0.25rem;
  color: white;
  background-color: #ff0000;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: max-content;
  text-decoration: none;
}
